:root { 
    --indigo_900_3d:#100a553d;  
    --deep_purple_A200_19:#7065f019; 
    --indigo_A100:#a49df5; 
    --black_900_3f:#0000003f; 
    --green_500:#4caf50; 
    --black_900_87:#00082887; 
    --indigo_900_99:#100a5599; 
    --indigo_900_14:#0e085414; 
    --indigo_900_19:#100a5519; 
    --deep_purple_A200:#7065f0; 
    --deep_purple_A200_66:#7065f066; 
    --gray_600:#828282; 
    --gray_601:#6c727f; 
    --gray_400:#c4c4c4; 
    --blue_700:#226bd0; 
    --amber_500:#ffc107; 
    --blue_701:#1976d2; 
    --gray_800:#343a40; 
    --black_900_0f:#0000000f; 
    --deep_purple_200_af:#b2adeaaf; 
    --gray_200:#e5e7eb; 
    --orange_400:#fe981e; 
    --indigo_201:#abadf2; 
    --indigo_900_87:#100a5587; 
    --bluegray_801:#394150; 
    --bluegray_800:#383467; 
    --deep_purple_50:#f0effb; 
    --white_A700_66:#ffffff66; 
    --indigo_200:#abaef2; 
    --black_900_99:#00082899; 
    --bluegray_200:#adb5bd; 
    --cyan_50:#d2ffff; 
    --black_900_19:#00000019; 
    --deep_purple_A200_75:#7065f075; 
    --white_A700:#ffffff; 
    --black_900_16:#00000016; 
    --gray_51:#f9fafb; 
    --deep_orange_50:#fce3e3; 
    --red_700:#e31d1c; 
    --indigo_A201:#5b61e5; 
    --light_green_100:#dbffd2; 
    --indigo_A200:#5b60e5; 
    --red_300:#f06565; 
    --green_50:#E6F9EE; 
    --green_600:#27ae60; 
    --gray_50:#f7f6fc; 
    --black_900:#000000; 
    --black_900_63:#00082863; 
    --black_901:#000828; 
    --deep_orange_A400:#ff3d00; 
    --purple_50:#f3d2ff; 
    --gray_501:#908e99; 
    --gray_301:#d6ddeb; 
    --indigo_54:#e7e6f9; 
    --gray_302:#e5e5e5; 
    --gray_500:#9d9d9d; 
    --indigo_50:#e0def7; 
    --black_900_6c:#0008286c; 
    --bluegray_100:#ced4da; 
    --gray_101:#f7f7f7; 
    --gray_300:#dbdbdb; 
    --gray_100:#f5f5f5; 
    --bluegray_900:#313336; 
    --white_A700_87:#ffffff87; 
    --bluegray_701:#4d5461; 
    --bluegray_700:#495057; 
    --orange_50:#fff2d2; 
    --orange_51:#fff1e0; 
    --cyan_50_33:#e8f9f733; 
    --indigo_900_26:#0e085426; 
    --gray_50_a6:#f7f6fca6; 
    --bluegray_300:#9ea3ae; 
    --indigo_A200_82:#7378f782; 
    --indigo_900:#100a55; 
    --indigo_901:#0e0854; 
    --indigo_700:#2e42a4; 
    --indigo_A200_83:#7277f682; 
    --indigo_500:#4a4fb0; 
    --bluegray_901:#182e4e; 
    }